.search-result-list {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
}

.font-weight-bold {
    font-weight: bold;
    font-size: 20px;
}

.color-blue {
    color: rgb(63, 117, 235);
}